body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    
}

ul{
list-style: none;
display: flex;
gap: 25px;
}

h1{
    color: #f9faf8;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

h2{
    color: #1f2937;
    font-weight: bold;
    font-size: 36px;
    

}

.header, .footer  {
background-color: #1f2937;
}
.header, .section1, .section2, .section3, .footer{
    padding:0 10% 0 10%;
}

.header-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-links {
color: #f9faf8;
font-size: 24px;
font-weight: bold;
}

a, p.header {
color: #e5e7eb;
font-size: 18px;
text-decoration: none;
padding: 0;
margin: 0;
}

a:visited{
color: #e5e7eb;
}
a:hover{
color: #3882f6;
}

.header-content{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 50px 0;
    gap: 20px;
    
}

.left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

img.header{
    max-width: 100%;
    height: auto;
    padding: 0;
    
}

button{
    background-color: #3882f6;
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
}

.section1, .section2, .section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section1{
    gap: 30px;
}

.box {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;

}

.illustration{
    border: 4px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

p.section1{
    color: gray;
}

.section2{
    background-color: #e5e7eb;
    justify-content: flex-end;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:#1f2937;
    text-align: left;
}
.author{
    font-size: 14px;
    font-weight: bold;
    color:#1f2937;
    align-items: flex-end;
    
}